In [1]:
import numpy as np
import pandas as pd

# China

## Indstrial Export

In [2]:
# Read the CSV files into DataFrames
df = pd.read_csv("China_Industrial Export_2010-2011.csv", index_col='Indicators')
df2 = pd.read_csv("China_Industrial Export_2012-2017.csv", index_col='Indicators')
df3 = pd.read_csv("China_Industrial Export_2018-2020.csv", index_col='Indicators')

# Combine the DataFrames using concat
df_combined = pd.concat([df3, df2, df], axis=1).iloc[0, :]

# Create a DataFrame with the combined data
df_combined = pd.DataFrame(df_combined).reset_index()
# Rename the column to Month-Year
df_combined = df_combined.rename(columns={'index': 'Month-Year'})

# Convert the 'Month-Year' column to a DatetimeIndex by adding 01- in front
df_combined['Date'] = pd.to_datetime('01-' + df_combined['Month-Year'], format='%d-%b-%y')
idx = pd.DatetimeIndex(df_combined['Date'])
df_combined = df_combined.set_index(idx)

# Drop the 'Month-Year' and 'Date' columns
df_combined.drop(['Month-Year', 'Date'], axis=1, inplace=True)

# Print the resulting DataFrame
df_combined

            Value of Industrial Export Delivery Current Period(100 million yuan)
Date
2020-12-01                                           12753.40
2020-11-01                                           12205.30
2020-10-01                                           11268.40
2020-09-01                                           11376.10
2020-08-01                                           10451.70
...                                                       ...
2010-05-01                                            7628.42
2010-04-01                                            7183.69
2010-03-01                                            6743.26
2010-02-01                                            5237.59
2010-01-01                                                NaN

[132 rows x 1 columns]

In [3]:
# Resample the dataset to quarterly
quarterly_data = df_combined.resample('QS').sum()
quarterly_data.head()

            Value of Industrial Export Delivery Current Period(100 million yuan)
Date
2010-01-01                                           11980.85
2010-04-01                                           22879.93
2010-07-01                                           23795.49
2010-10-01                                           25074.18
2011-01-01                                           14178.14

In [4]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = quarterly_data.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('China_Q_IE.csv')

In [5]:
# Resample the dataset to annually
annual_data = df_combined.resample('AS').sum()
annual_data.head()

            Value of Industrial Export Delivery Current Period(100 million yuan)
Date
2010-01-01                                           83730.45
2011-01-01                                           93900.73
2012-01-01                                           99537.49
2013-01-01                                          104249.60
2014-01-01                                          104025.90

In [6]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = annual_data.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('China_Y_IE.csv')

## Retail Sales

In [7]:
# Read the CSV files into DataFrames
df = pd.read_csv("China_Retail Sales_2010-2020.csv", index_col='Indicators')

# Choosing only the first row that is the indicator we are interested in
df = df.iloc[0, :]

# Rename the index column to Month-Year
df = pd.DataFrame(df).reset_index()
df = df.rename(columns={'index': 'Month-Year'})

# Convert the 'Month-Year' column to a DatetimeIndex
df['Date'] = pd.to_datetime('01-' + df['Month-Year'], format='%d-%y-%b')
idx = pd.DatetimeIndex(df['Date'])
df = df.set_index(idx)

# Drop the 'Month-Year' and 'Date' columns
df.drop(['Month-Year', 'Date'], axis=1, inplace=True)

# Print the resulting DataFrame
df

            Total Retail Sales of Consumer Goods Current Period(100 million yuan)
Date
2020-12-01                                            40566.0
2020-11-01                                            39514.2
2020-10-01                                            38576.5
2020-09-01                                            35294.7
2020-08-01                                            33570.6
...                                                       ...
2010-05-01                                            12455.1
2010-04-01                                            11510.4
2010-03-01                                            11321.7
2010-02-01                                            12334.2
2010-01-01                                            12718.1

[132 rows x 1 columns]

In [8]:
# Resample the dataset to quarterly
quarterly_data = df.resample('QS').sum()
quarterly_data.head()

            Total Retail Sales of Consumer Goods Current Period(100 million yuan)
Date
2010-01-01                                            36374.0
2010-04-01                                            36295.4
2010-07-01                                            38359.1
2010-10-01                                            43525.2
2011-01-01                                            42606.1

In [9]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = quarterly_data.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('China_Q_RS.csv')

In [10]:
# Resample the dataset to annual
annual_data = df.resample('AS').sum()
annual_data.head()

            Total Retail Sales of Consumer Goods Current Period(100 million yuan)
Date
2010-01-01                                           154553.7
2011-01-01                                           180910.1
2012-01-01                                           173498.1
2013-01-01                                           196570.1
2014-01-01                                           220113.3

In [11]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = annual_data.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('China_Y_RS.csv')

## GDP

In [12]:
# Read the CSV files into DataFrames
df = pd.read_csv("China_GDP_2010-2020.csv", index_col='Indicators')
# Choosing only the first row which is the GDP indicator
df = df.iloc[0, :]

# Rename the index to 'Quarter-Year'
df = df.reset_index()
df = df.rename(columns={'index': 'Quarter-Year'})

# Define a function to reformat the quarter strings
# e.g. 1Q to Q1
def reformat_quarters(string):
   string = list(string)
   string[0], string[1] = string[1], string[0]
   return ''.join(string)

# Apply the function to the "Quarter" column
df['Quarter-Year'] = df['Quarter-Year'].apply(reformat_quarters)

# Move the year in front of the quarter
df['Date'] = ([
    '-'.join(x.split()[::-1]) for x in df['Quarter-Year']
])

# Create a Period Index
df['Date'] = pd.PeriodIndex(df['Date'], freq='Q').to_timestamp()

df = df.set_index(['Date'])

# Drop the 'Quarter-Year' column
df.drop(['Quarter-Year'], axis=1, inplace=True)

# Print the resulting DataFrame
df.head()

            Gross Domestic Product Current Quarter(100 million yuan)
Date
2020-10-01                                           295618.8
2020-07-01                                           264355.7
2020-04-01                                           248347.7
2020-01-01                                           205244.8
2019-10-01                                           276798.0

In [13]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = df.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('China_Q_GDP.csv')

In [14]:
# Resample the dataset to annually
annual_data = df.resample('AS').sum()
annual_data.head()

            Gross Domestic Product Current Quarter(100 million yuan)
Date
2010-01-01                                           412119.2
2011-01-01                                           487940.1
2012-01-01                                           538579.8
2013-01-01                                           592963.3
2014-01-01                                           643563.0

In [15]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = annual_data.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('China_Y_GDP.csv')

## Industrial Export

In [17]:
# Read the CSV files into DataFrames
df = pd.read_csv("US_Industrial Export_2010-2020.csv", index_col='DATE')

# Rename the column
df = df.reset_index()
df = df.rename(columns={'A639RX1Q020SBEA': 'Industrial Exports of Goods'})

# Convert the 'Date' column to a DatetimeIndex
df['DATE'] = pd.to_datetime(df['DATE'], format='%Y-%m-%d')
idx = pd.DatetimeIndex(df['DATE'])
df = df.set_index(idx)

# Drop the 'Date' column
df.drop(['DATE'], axis=1, inplace=True)

# Print the resulting DataFrame
df.head()

            Industrial Exports of Goods
DATE
2010-01-01                      341.335
2010-04-01                      354.769
2010-07-01                      356.767
2010-10-01                      369.504
2011-01-01                      373.362

In [18]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = df.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('US_Q_IE.csv')

In [19]:
# Resample the dataset to annually
annual_data = df.resample('AS').sum()
annual_data.head()

            Industrial Exports of Goods
DATE
2010-01-01                     1422.375
2011-01-01                     1515.822
2012-01-01                     1543.179
2013-01-01                     1605.486
2014-01-01                     1662.049

In [20]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = annual_data.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('US_Y_IE.csv')

## Retail Sales

In [21]:
# Read the CSV files into DataFrames
df = pd.read_csv("US_Retail Sales_2010-2020.csv", index_col='DATE')

# Rename the column
df = df.reset_index()
df = df.rename(columns={'RSXFS': 'Advance Retail Sales: Retail Trade'})

# Convert the 'DATE' column to a DatetimeIndex
df['DATE'] = pd.to_datetime(df['DATE'], format='%Y-%m-%d')
idx = pd.DatetimeIndex(df['DATE'])
df = df.set_index(idx)

# Drop the 'DATE' column
df.drop(['DATE'], axis=1, inplace=True)

# Print the resulting DataFrame
df.head()

            Advance Retail Sales: Retail Trade
DATE
2010-01-01                              308346
2010-02-01                              308435
2010-03-01                              315771
2010-04-01                              318646
2010-05-01                              315356

In [22]:
# Resample the dataset to quarterly
quarterly_data = df.resample('QS').sum()
quarterly_data.head()

            Advance Retail Sales: Retail Trade
DATE
2010-01-01                              932552
2010-04-01                              948808
2010-07-01                              952672
2010-10-01                              981102
2011-01-01                             1004560

In [23]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = quarterly_data.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('US_Q_RS.csv')

In [24]:
# Resample the dataset to annually
annual_data = df.resample('AS').sum()
annual_data.head()

            Advance Retail Sales: Retail Trade
DATE
2010-01-01                             3815134
2011-01-01                             4100080
2012-01-01                             4294863
2013-01-01                             4456734
2014-01-01                             4632995

In [25]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = annual_data.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('US_Y_RS.csv')

## GDP

In [26]:
# Read the CSV files into DataFrames
df = pd.read_csv("US_GDP_2010-2020.csv", index_col='DATE')

# Reset index to make it a column
df = df.reset_index()

# Convert the 'DATE' column to a DatetimeIndex
df['DATE'] = pd.to_datetime(df['DATE'], format='%m/%d/%Y')
idx = pd.DatetimeIndex(df['DATE'])
df = df.set_index(idx)

# Drop the 'DATE' column
df.drop(['DATE'], axis=1, inplace=True)

# Print the resulting DataFrame
df.head()

                  GDP
DATE
2010-01-01  14764.610
2010-04-01  14980.193
2010-07-01  15141.607
2010-10-01  15309.474
2011-01-01  15351.448

In [27]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = df.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('US_Q_GDP.csv')

In [28]:
# Resample the dataset to annually
annual_data = df.resample('AS').sum()
annual_data.head()

                  GDP
DATE
2010-01-01  60195.884
2011-01-01  62398.926
2012-01-01  65015.880
2013-01-01  67522.733
2014-01-01  70432.553

In [29]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = annual_data.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('US_Y_GDP.csv')

# UK

## Industrial Export

In [30]:
# Read the CSV files into DataFrames
df = pd.read_excel("UK_Industrial Export_2010-2020.xlsx", sheet_name='Sheet1')

# Remove the index
df = df.reset_index(drop=True)

# Set the Date column to string
df['Date'] = df['Date'].astype(str)

# Convert the 'Date' column to a DatetimeIndex
df['DATE'] = pd.to_datetime(df['Date']+"-01-01", format='%Y-%m-%d')
idx = pd.DatetimeIndex(df['DATE'])
df = df.set_index(idx)

# Drop the 'Date' and 'DATE' column
df.drop(['Date', 'DATE'], axis=1, inplace=True)

# Print the resulting DataFrame
df

            Manufactured Consumable Goods for the Export Market
DATE
2009-01-01                                              108.9
2010-01-01                                              101.3
2011-01-01                                               99.4
2012-01-01                                              109.5
2013-01-01                                              112.1
2014-01-01                                              103.0
2015-01-01                                              100.0
2016-01-01                                              108.0
2017-01-01                                              112.9
2018-01-01                                              114.4
2019-01-01                                              117.0
2020-01-01                                              118.7

In [31]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = df.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('UK_Y_IE.csv')

In [32]:
# Read the CSV files into DataFrames
df = pd.read_excel("UK_Industrial Export_2010-2020.xlsx", sheet_name='Sheet2')

# Drop the index
df = df.reset_index(drop=True)

# Set the column Date to string
df['Date'] = df['Date'].astype(str)

# Fill the blank space with '-' for date
df['Date'] = ([
    '-'.join(x.split()) for x in df['Date']
])

# Create a Period Index
df['Date'] = pd.PeriodIndex(df['Date'], freq='Q').to_timestamp()
df = df.set_index(['Date'])

# Print the resulting DataFrame
df.head()

            Manufactured Consumable Goods for the Export Market
Date
2010-01-01                                              111.3
2010-04-01                                              101.2
2010-07-01                                               95.6
2010-10-01                                               97.2
2011-01-01                                               97.9

In [33]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = df.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('UK_Q_IE.csv')

## Retail Sales

In [34]:
# Read the CSV files into DataFrames
df = pd.read_csv("UK_Retail Sales_2010-2020.csv")

# Convert the 'Date' column to a DatetimeIndex
df['Date'] = pd.to_datetime(df['Date']+' 01', format='%Y %b %d')
idx = pd.DatetimeIndex(df['Date'])
df = df.set_index(idx)

# Drop the 'Date' column
df.drop(['Date'], axis=1, inplace=True)

# Print the resulting DataFrame
df.head()

            Internet Retail Sales
Date
2010-01-01                  347.2
2010-02-01                  345.5
2010-03-01                  347.6
2010-04-01                  354.5
2010-05-01                  359.4

In [35]:
# Resample the dataset to quarterly
quarterly_data = df.resample('QS').sum()
quarterly_data.head()

            Internet Retail Sales
Date
2010-01-01                 1040.3
2010-04-01                 1067.9
2010-07-01                 1154.6
2010-10-01                 1624.9
2011-01-01                 1282.8

In [36]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = quarterly_data.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('UK_Q_RS.csv')

In [37]:
# Resample the dataset to annually
annual_data = df.resample('AS').sum()
annual_data.head()

            Internet Retail Sales
Date
2010-01-01                 4887.7
2011-01-01                 5770.7
2012-01-01                 6653.6
2013-01-01                 7675.3
2014-01-01                 8704.6

In [38]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = annual_data.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('UK_Y_RS.csv')

## GDP

In [39]:
# Read the CSV files into DataFrames
df = pd.read_excel("UK_GDP_2010-2020.xlsx", sheet_name='Sheet1')

# Set the column 'Date' to string
df['Date'] = df['Date'].astype(str)

# Convert the 'DATE' column to a DatetimeIndex
df['DATE'] = pd.to_datetime(df['Date']+"-01-01", format='%Y-%m-%d')
idx = pd.DatetimeIndex(df['DATE'])
df = df.set_index(idx)

# Drop the 'DATE' and 'Date' columns
df.drop(['Date', 'DATE'], axis=1, inplace=True)

# Print the resulting DataFrame
df

            Gross Domestic Product: CVM: NSA
DATE
2010-01-01                           1878960
2011-01-01                           1900476
2012-01-01                           1929229
2013-01-01                           1963807
2014-01-01                           2026566
2015-01-01                           2071561
2016-01-01                           2111357
2017-01-01                           2167415
2018-01-01                           2197841
2019-01-01                           2233921
2020-01-01                           2002489

In [40]:
# Compute the percentage change in annual data and save to a csv file
annual_percentage_change = df.pct_change() * 100  # Multiply by 100 to get percentages
annual_percentage_change.to_csv('UK_Y_GDP.csv')

In [41]:
# Read the CSV files into DataFrames
df = pd.read_excel("UK_GDP_2010-2020.xlsx", sheet_name='Sheet2')

# Drop the index
df = df.reset_index(drop=True)
df['Date'] = df['Date'].astype(str)

# Fill all the blank space with '-'
df['Date'] = ([
    '-'.join(x.split()) for x in df['Date']
])

# Create a PeriodIndex
df['Date'] = pd.PeriodIndex(df['Date'], freq='Q').to_timestamp()

# Set the 'Date' column as Index
df = df.set_index(['Date'])

# Print the resulting DataFrame
df.head()

            Gross Domestic Product: CVM: NSA
Date
2010-01-01                            459709
2010-04-01                            459718
2010-07-01                            476599
2010-10-01                            482934
2011-01-01                            470298

In [42]:
# Compute the percentage change in quarterly data and save to a csv file
quarterly_percentage_change = df.pct_change() * 100  # Multiply by 100 to get percentages
quarterly_percentage_change.to_csv('UK_Q_GDP.csv')

# Combine Table

In [43]:
df1 = pd.read_csv("China_Q_GDP.csv")
df2 = pd.read_csv("US_Q_GDP.csv")
df3 = pd.read_csv("UK_Q_GDP.csv")

In [44]:
df1.set_index('Date').join(df2.set_index('DATE')).join(df3.set_index('Date')).set_axis(['China', "US", 'UK'], axis=1).sort_index(ascending=False).to_csv('GDP_Q.csv')

In [45]:
df1 = pd.read_csv("China_Q_IE.csv")
df2 = pd.read_csv("US_Q_IE.csv")
df3 = pd.read_csv("UK_Q_IE.csv")
df1.set_index('Date').join(df2.set_index('DATE')).join(df3.set_index('Date')).set_axis(['China', "US", 'UK'], axis=1).sort_index(ascending=False).to_csv('IE_Q.csv')

In [46]:
df1 = pd.read_csv("China_Q_RS.csv")
df2 = pd.read_csv("US_Q_RS.csv")
df3 = pd.read_csv("UK_Q_RS.csv")
df1.set_index('Date').join(df2.set_index('DATE')).join(df3.set_index('Date')).set_axis(['China', "US", 'UK'], axis=1).sort_index(ascending=False).to_csv('RS_Q.csv')

In [47]:
df1 = pd.read_csv("China_Y_GDP.csv")
df2 = pd.read_csv("US_Y_GDP.csv")
df3 = pd.read_csv("UK_Y_GDP.csv")
df1.set_index('Date').join(df2.set_index('DATE')).join(df3.set_index('DATE')).set_axis(['China', "US", 'UK'], axis=1).sort_index(ascending=False).to_csv('GDP_Y.csv')

In [48]:
df1 = pd.read_csv("China_Y_IE.csv")
df2 = pd.read_csv("US_Y_IE.csv")
df3 = pd.read_csv("UK_Y_IE.csv")
df1.set_index('Date').join(df2.set_index('DATE')).join(df3.set_index('DATE')).set_axis(['China', "US", 'UK'], axis=1).sort_index(ascending=False).to_csv('IE_Y.csv')

In [49]:
df1 = pd.read_csv("China_Y_RS.csv")
df2 = pd.read_csv("US_Y_RS.csv")
df3 = pd.read_csv("UK_Y_RS.csv")
df1.set_index('Date').join(df2.set_index('DATE')).join(df3.set_index('Date')).set_axis(['China', "US", 'UK'], axis=1).sort_index(ascending=False).to_csv('RS_Y.csv')